@using CUG_ONLINE_COURSES.Data
@using CUG_ONLINE_COURSES.Services.RolesServices
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager Navigation
@attribute [Authorize(Roles = $"{AuthenticationInitalData.SuperAdminRole},{AuthenticationInitalData.StudentRole}")]
@rendermode InteractiveServer
@inject IRoleService _roleManagerService
@inject ILogger<ManageRoles> Logger
@page "/"
@attribute [Authorize]
<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
    @if (context.User.IsInRole(AuthenticationInitalData.SuperAdminRole))
    {
        <h1>Welcome, Super Admin @context.User.Identity?.Name!</h1>
        <p>You have access to the admin dashboard and advanced settings.</p>
    }
    else if (context.User.IsInRole(AuthenticationInitalData.DeanRole))
    {
            <h1>Welcome, Dean @context.User.Identity?.Name!</h1>
            <p>You have access to the Dean dashboard.</p>
    }
    else if (context.User.IsInRole(AuthenticationInitalData.LecturerRole))
    {
            <h1>Welcome, Lecturer @context.User.Identity?.Name!</h1>
            <p>You have access to the Lecturer.</p>
    }
    else if (context.User.IsInRole(AuthenticationInitalData.SecretaryRole))
    {
            <h1>Welcome, Secretary @context.User.Identity?.Name!</h1>
            <p>You have access to the Secretary dashboard </p>
    }
    else if (context.User.IsInRole(AuthenticationInitalData.StudentRole))
    {
            <h1>Welcome, Student @context.User.Identity?.Name!</h1>
            <div id="facultyCards" class="row">
            <!-- CEMS Card -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    
                    <img src="/image/cems.jpeg" class="card-img-top" alt="CEMS Image">
                    <div class="card-body">
                        <h5 class="card-title">CEMS</h5>
                            <button type="button" class="btn btn-secondary" @onclick='() => NavigateToFacultyCourse("CEMS")'><i class="bi bi-trash me-1"></i>Dashboard </button>

                      
                    </div>
                </div>
            </div>
            <!-- NURSING Card -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/image/cug_nurs.jpg" class="card-img-top" alt="Nursing Image">
                    <div class="card-body">
                        <h5 class="card-title">Nursing</h5>
                            <button type="button" class="btn btn-secondary" @onclick='() => NavigateToFacultyCourse("Nursing")'><i class="bi bi-trash me-1"></i>Dashboard </button>

                       </div>
                </div>
            </div>
            <!-- EDUCATION Card -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/image/education.jpeg" class="card-img-top" alt="Education Image">
                    <div class="card-body">
                        <h5 class="card-title">Education</h5>
                            <button type="button" class="btn btn-secondary" @onclick='() => NavigateToFacultyCourse("Education")'><i class="bi bi-trash me-1"></i>Dashboard </button>

                        
                    </div>
                </div>
            </div>
            <!-- RELIGION Card -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/image/religion.jpeg" class="card-img-top" alt="Religion Image">
                    <div class="card-body">
                        <h5 class="card-title">Religion</h5>
                            <button type="button" class="btn btn-secondary" @onclick='() => NavigateToFacultyCourse("Religion")'><i class="bi bi-trash me-1"></i>Dashboard </button>

                      
                    </div>
                </div>
            </div>
            <!-- IBM Card -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/image/accounting.webp" class="card-img-top" alt="IBM Image">
                    <div class="card-body">
                        <h5 class="card-title">IBM</h5>
                            <button type="button" class="btn btn-secondary" @onclick='() => NavigateToFacultyCourse("IBM")'><i class="bi bi-trash me-1"></i>Dashboard </button>

                       
                </div>
            </div>
        </div>

            </div>


    }
   
    </Authorized>
    <NotAuthorized>
        <h1>Access Denied</h1>
        <p>You are not allowed to view this content. Contact the Administrator</p>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void NavigateToFacultyCourse(string facultyid)
    {
        Navigation.NavigateTo("/Facultycouse/"+facultyid); // Replace with your actual route

    }

}
